<br><br>

<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="align-center"> <strong>Valborg Aulin</strong> </h2>
    </div>
  </div>

  <hr />

  <div class="row about-composer">
    <div class="col-sm-3">
      <img src="../assets/Valborg_Aulin.png"  style="height: 200px;">
    </div>
    <div class="col-sm-9">
      <p>
        Aulin’s work consists of two varieties types of work, compositions of voice and piano and piano compositions.
        Both of these work for less experienced musicians as well as professional musicians. “With the exception of Grande sonate sérieuse pour le piano [F minor],
        Sonata for piano opus 14, the piano compositions have a single movement. These compositions are mood pieces in which the title already defines the pieces character.
        The prominence of single movement works is puzzling as Aulin was an accomplished pianist and was more than capable of playing longer compositions. Swedish Musical Heritage has posited that the possible reason
        was that Aulin wanted more of here work published as smaller works selling better than larger works.”
        <em class="apa-reference"><a href="https://www.swedishmusicalheritage.com/composers/aulin-valborg/?action=composers&composer=aulin-valborg" target="_blank">Source</a></em>
      </p>
    </div>
  </div>
</div>
